<%- include('header') %>


<div class="centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <!-- <img src="/images/bulb.jpg"  width="100px" height= "100px" alt="bulb"> -->

    <h1 class="display-3 colour"><strong>Electricity</strong></h1>
    <p class="lead colour"><em>Save electrcity, save nature.</em></p>
    <hr>
    <a class="btn btn-dark btn-lg colour" href="/logincustomer" role="button">Customer Login</a>
    <a class="btn btn-dark btn-lg colour" href="/loginadmin" role="button">Admin Login</a></br>
    <a class="btn btn-primary btn-lg gap colour" href="/register" role="button">New User Register</a>

  </div>
</div>

<%- include('footer') %>
