<%- include('header') %>

<div class="container mt-5">
  <h1 class="colour" >Feedback Id: <%=feedback.feedback_id%></h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card colour2">
        <div class="card-body">
            <h4><em>Feedback</em></h4>
            <p><%=feedback.feedback%></p>
          </div>
        </div>
      </div>
    </div>












<%- include('footer') %>
